*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

gitignore
# Ignora toda a pasta .idea
.idea/

# Mas NÃO ignora (re-inclui) os arquivos seguros para compartilhamento
!.idea/gradle.xml
!.idea/misc.xml
!.idea/vcs.xml


